body {
    background-color: rgb(36, 32, 32) !important; 
    color: white !important; 
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.nav-link .icon {
    width: 1em; 
    height: 1em; 
    margin-right: 0.5em; 
}

.navbar {
    justify-content: center; 
    height: 10vh; 
}

.navbar-nav {
    justify-content: center; 
}

.nav-item {
    margin: 0 1vw;
    border-width: 0.2em; 
    border-color: #ffffff; 
    border-radius: 0.5em;
}

.main {
    min-height: 70vh; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: row; 
    padding: 0;
    margin: 0;
    gap: 2vw;
}

.intro, .introImage {
    flex: 0 1 auto; 
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.mainitem {
    text-align: center; 
    max-width: 40vw; 
}

.introImage {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40vw; 
}

.aboutMain {
    min-height: 70vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 2vw; 
    align-items: flex-start;
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.grad-img {
    max-width: 40vw; 
    max-height: 40vh; 
}

.blogMain {
    min-height: 70vh; 
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 2vw; 
    align-items: flex-start;
    max-width: 60vw;
    margin-left: auto;
    margin-top: 4vh; 
    margin-right: auto;
}

.blog-entry {
    display: flex;
    justify-content: space-between;
    padding: 1vh 0;
    border-bottom: 0.1em solid #ccc; 
    width: 100%;
}

.blog-entry .article-name {
    font-weight: bold;
    text-decoration: none;
    color: #888;
    flex-grow: 1;

}

.blog-entry .date {
    color: #13911b;
    margin-left: auto; 
}

.blog-entry .article-name:hover {
    text-decoration: none; 
}

.pdf-container {
    height: 70vh;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center; 
    justify-content: center; 

}
.pdf-container embed {
    width: 100%; 
    height: 100%;
}


@media (max-width: 768px) {
    .nav-link .icon {
        width: 1.2em;
        height: 1.2em;
    }

    .nav-item {
        margin: 0 0.5em;
    }

    .main {
        flex-direction: column;
        gap: 1em;
    }

    .mainitem, .introImage {
        max-width: 90%;
    }

    .aboutMain, .blogMain {
        max-width: 90%;
    }

    .blog-entry .date {
        margin-left: 2em;
    }
}


